@using System.Security.Cryptography
@using ProjetoDis.Models
@using ProjetoDis.ProjectClasses.Iterator

@{
    ViewBag.Title = "index";
}


            <!-- Navbar -->
         
            <!-- End Navbar -->
            <!-- Header -->
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <!-- Card stats -->
                        <div class="row align-items-center py-4">
                            <div class="col-lg-6 col-7">
                                <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Default</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-lg-6 col-5 text-right">
                                <a href="#" class="btn btn-sm btn-neutral">New</a>
                                <a href="#" class="btn btn-sm btn-neutral">Filters</a>
                            </div>
                        </div>
                        <div class="row">
                            @if (Session["type"] != null)
                            {
                                if (Session["alert"] != null)
                                {
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                        <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                                        <span class="alert-inner--text"><strong>Success!</strong> Iniciou sessão!</span>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    Session["alert"] = null;
                                }

                                if ((int)Session["type"] == 1)
                                {



                                    for (Warning warning = ViewBag.alertIterator.First();
                                        !ViewBag.alertIterator.IsFinished; warning = ViewBag.alertIterator.Next())
                                    {
                                        Alert alert = (Alert)warning._warning;

                                        <div class="col-xl-3 col-lg-6" style="margin-bottom:20px">
                                            <div class="card card-stats mb-4 mb-xl-0">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title text-uppercase text-muted mb-0">@alert.Title</h5>
                                                            <span class="h2 font-weight-bold mb-0">@alert.Description</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                                                <i class="fas fa-flag"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="mt-3 mb-0 text-muted text-sm">
                                                        <span class="text-success mr-2"><i class="fas fa-map-marker-alt"></i> @alert.Location</span>
                                                        <span class="text-nowrap">@alert.Description</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                    <a class="btn btn-icon btn-3 btn-warning" type="button" style="width:50%; margin-left:25%" href="/Main/Alert">
                                        <span class="btn-inner--icon"><i class="fas fa-exclamation-triangle"></i></span>

                                        <span class="btn-inner--text">Reporte um problema!</span>

                                    </a>
                                }
                                else
                                {

                                    for (Warning warning = ViewBag.reportIterator.First();
                                        !ViewBag.reportIterator.IsFinished; warning = ViewBag.reportIterator.Next())
                                    {
                                        Report report = (Report)warning._warning;

                                        <div class="col-xl-3 col-lg-6" style="margin-bottom:20px">
                                            <div class="card card-stats mb-4 mb-xl-0">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col">
                                                            <h5 class="card-title text-uppercase text-muted mb-0">@report.Title</h5>
                                                            <span class="h2 font-weight-bold mb-0">350,897</span>
                                                        </div>
                                                        <div class="col-auto">
                                                            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                                                <i class="fas fa-chart-bar"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <p class="mt-3 mb-0 text-muted text-sm">
                                                        <span class="text-success mr-2"><i class="fas fa-map-marker-alt"></i> @report.Location</span>
                                                        <span class="text-nowrap">@report.Description</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    }
                                    <a class="btn btn-icon btn-3 btn-warning" type="button" style="width:50%; margin-left:25%" href="/Main/Report">
                                        <span class="btn-inner--icon"><i class="fas fa-exclamation-triangle"></i></span>

                                        <span class="btn-inner--text">Reporte um problema!</span>

                                    </a>

                                }
                            }
                            else
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                                    <span class="alert-inner--text"><strong>Success!</strong> This is a success alert—check it out!</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>
